<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, intial-scale=1.0"/>
        <link rel="stylesheet" href="..\..\CSS\Main.css">
        <script src="https://kit.fontawesome.com/8387c82ad3.js" crossorigin="anonymous"></script>
    
    </head>
    <body>
        <div class="artist-details">

             <div class="artist-photo">
                <div class="photo"><img src="devi-sri-prasad.jpg" alt="Devi sri Prasad" style="width: 190px; height: 190px; border-radius: 150px;"></div>     
             </div>

             <div class="artist-name">
                <div >
                    <button class="play-button">
                        <i class="fa-solid fa-play" ></i>
                    </button>
                </div>
                <div >
                    <h1 class="name">
                        Devi Sri Prasad
                    </h1>
                </div>
                <div >
                    <button class="options" style="margin-top: 0px; margin-bottom: 0px; text-align: center; font-size: large;">
                        <p>...</p>
                    </button>
                </div>
             </div>
        </div>
        <div class="section"></div>
        <div class="latest-top-songs">
            <div class="latest-songs">

                <div class="header">
                    <h2 style=" margin-top: 0px; margin-bottom: 0px; width: 125.13px; height: 22px; margin-top: 0px; color: #FFFFFFEB; margin-bottom: 0px; font-size: 17px;">Latest Release</h2>
                </div>

                <div class="cover-song">
                    <div>
                        <img src="unparvayil_cover_page.webp" alt="cover-song" style="width: 165px; height: 165px;">
                    </div>
                    <div class="details-of-cover-song">
                        <p class="unparvayil-song-date" style=" margin-bottom: 6px; font-size: 11px; margin-top: 0px;">JUN 12, 2024</p>
                        <a href="https://music.apple.com/us/album/un-paarvayil-cover-single/1750887520" style="width: 203.2px; height: 18px; color: #FFFFFFEB;">Un Paarvayil (Cover) - Single</a>
                        <p style="width: 207.2px; height: 22px; color: #FFFFFFA3; margin-top: 3px; ">1 Song</p>
                    </div>
                </div>

            </div>
            <div class="Top_Songs">

                <div class="header_top_songs">
                    <button class="Top-Songs-button">Top Songs ></button>
                </div>
            <div class="left-arrow">
                <svg 
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6">
                    <path 
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.75 19.5 8.25 12l7.5-7.5" />
                </svg>
            </div>
                <div class="Uppenantha_song">
                    <button class="Uppenantha_photo">
                        <img src="uppenantha_photo.webp" alt="arya2 song" style="width: 40px; height: 40px; margin-right: 12px; position: relative; top: -3px; left: -8px;">
                    </button>
                    <div class="uppenantha_details">
                        <div class="uppenantha">
                            <a href="https://music.apple.com/us/album/uppenantha/337856141?i=337856209" style="width: 74.77px; height: 15.5px; color: #FFFFFFEB; display: block; font-size: 13px;">Uppenantha</a>
                        </div>
                        <div class="Aarya-2">
                            <span class="arya-2">Aarya-2 &#93Original Motion Pictur... </span>
                        </div>
                    </div>
                    <span>
                        <button class="options" style="margin-top: 0px; margin-bottom: 0px; text-align: center; font-size: large;">
                            <p>...</p>
                        </button>
                    </span>
                </div>


                <div class="Oo_antava_song">
                    <button class="Oo_antava_photo">
                        <img src="oo_antava_song.webp" alt="pushpa song" style="width: 40px; height: 40px; margin-right: 12px; position: relative; top: -3px; left: -8px;">
                    </button>
                    <div class="Oo_antava_details">
                        <div class="Oo_antava">
                            <a href="https://music.apple.com/us/album/oo-antava-oo-oo-antava-from-pushpa-the-rise-part-01/1600014682?i=1600014695" style="width: 390.49px; height: 15.5px; color: #FFFFFFEB; display: block; font-size: 13px;">Oo Antava Oo Oo Antava &#91Fro...</a>
                        </div>
                        <div class="Oo_Antava">
                            <span class="oo_antava">Oo Antava Oo Oo Antava &#91From "...</span>
                        </div>
                    </div>
                    <span>
                        <button class="options" style="margin-top: 0px; margin-bottom: 0px; text-align: center; font-size: large;">
                            <p>...</p>
                        </button>
                    </span>
                </div>

                <div class="Follow_Follow_song">
                    <button class="Follow_Follow_photo">
                        <img src="Follow_Follow_song.webp" alt="nannaku prematho song" style="width: 40px; height: 40px; margin-right: 12px; position: relative; top: -3px; left: -8px;">
                    </button>
                    <div class="Follow_Follow_details">
                        <div class="Follow_Follow">
                            <a href="https://music.apple.com/us/album/follow-follow/1071786834?i=1071786843" style="width: 82.04px; height: 15.5px; color: #FFFFFFEB; display: block; font-size: 13px;">Follow Follow</a>
                        </div>
                        <div class="follow_follow">
                            <span class="follow_follow">Nannaku Prematho &#91Original Moti...</span>
                        </div>
                    </div>
                    <span>
                        <button class="options" style="margin-top: 0px; margin-bottom: 0px; text-align: center; font-size: large;">
                            <p>...</p>
                        </button>
                    </span>
                </div>


            <div class="Whatamma_what_song">
                <button class="Whatamma_what_photo">
                    <img src="whatamma_what_is_this_amma_song.webp" alt="unnadhi okate zindagi song" style="width: 40px; height: 40px; margin-right: 12px; position: relative; top: -3px; left: -8px;">
                </button>
                <div class="Whatamma_what_details">
                    <div class="Whatamma_what">
                        <a href="?https://music.apple.com/us/album/whatamma-what-is-this-amma/1296235557?i=1296235559" style="width: 190.59px; height: 15.5px; color: #FFFFFFEB; display: block; font-size: 13px;">Whatamma What Is This Amma</a>
                    </div>
                    <div class="whatamma_what">
                        <span class="whatamma_what">Vunnadhi Okate Zindagi &#91Original...</span>
                    </div>
                </div>
                <span>
                    <button class="options" style="margin-top: 0px; margin-bottom: 0px; text-align: center; font-size: large;">
                        <p>...</p>
                    </button>
                </span>
            </div>    
            
            <div class="Srivalli_song">
                <button class="Srivalli_photo">
                    <img src="Srivalli.webp" alt="Pushpa song" style="width: 40px; height: 40px; margin-right: 12px; position: relative; top: -3px; left: -8px;">
                </button>
                <div class="Srivalli_details">
                    <div class="Srivalli">
                        <a href="https://music.apple.com/us/album/srivalli-from-pushpa-the-rise-part-01/1590091427?i=1590091435" style="width: 279.03px; height: 15.5px; color: #FFFFFFEB; display: block; font-size: 13px;">Srivalli &#91From "Pushpa - The R...</a>
                    </div>
                    <div class="srivalli">
                        <span class="srivalli">Srivalli &#91From "Pushpa - The Rise...</span>
                    </div>
                </div>
                <span>
                    <button class="options" style="margin-top: 0px; margin-bottom: 0px; text-align: center; font-size: large;">
                        <p>...</p>
                    </button>
                </span>
            </div> 

            <div class="Saami_Saami_song">
                <button class="Saami_Saami_photo">
                    <img src="Saami_Saami.webp" alt="Pushpa song" style="width: 40px; height: 40px; margin-right: 12px; position: relative; top: -3px; left: -8px;">
                </button>
                <div class="Saami_Saami_details">
                    <div class="Saami_Saami">
                        <a href="https://music.apple.com/us/album/srivalli-from-pushpa-the-rise-part-01/1590091427?i=1590091435" style="width: 279.03px; height: 15.5px; color: #FFFFFFEB; display: block; font-size: 13px;">Saami Saami &#91From "Pushpa - ...</a>
                    </div>
                    <div class="saami_saami">
                        <span class="saami_saami">Saami Saami &#91From "Pushpa - Th...</span>
                    </div>
                </div>
                <span>
                    <button class="options" style="margin-top: 0px; margin-bottom: 0px; text-align: center; font-size: large;">
                        <p>...</p>
                    </button>
                </span>
            </div>

         
            <div class="Ammaadu_Lets_Do_Kummudu_song">
                <button class="Ammaadu_Lets_Do_Kummudu_photo">
                    <img src="Ammaadu_Lets_Do_Kummudu.webp" alt="Khaidi No 150 song" style="width: 40px; height: 40px; margin-right: 12px; position: relative; top: -3px; left: -8px;">
                </button>
                <div class="Ammaadu_Lets_Do_Kummudu_details">
                    <div class="Ammaadu_Lets_Do_Kummudu">
                        <a href="https://music.apple.com/us/album/srivalli-from-pushpa-the-rise-part-01/1590091427?i=1590091435" style="width: 279.03px; height: 15.5px; color: #FFFFFFEB; display: block; font-size: 13px;">Saami Saami &#91From "Pushpa - ...</a>
                    </div>
                    <div class="ammaadu_lets_do_kummudu">
                        <span class="ammaadu_lets_do_kummudu">Saami Saami &#91From "Pushpa - Th...</span>
                    </div>
                </div>
                <span>
                    <button class="options" style="margin-top: 0px; margin-bottom: 0px; text-align: center; font-size: large;">
                        <p>...</p>
                    </button>
                </span>
            </div>

            <div class="right-arrow">
                <svg 
                   xmlns="http://www.w3.org/2000/svg"
                   fill="none"
                   viewBox="0 0 24 24"
                   stroke-width="1.5"
                   stroke="currentColor"
                   class="size-6"
                     >
                    <path 
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m8.25 4.5 7.5 7.5-7.5 7.5"
                    />
                  </svg>
            </div>

            </div>

            
        </div>

    </body>
</html>