<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, intial-scale=1.0"/>
        <link rel="stylesheet" href="..\..\CSS\Main.css">
        <script src="https://kit.fontawesome.com/8387c82ad3.js" crossorigin="anonymous"></script>
    
    </head>
    <body>
        <div class="artist-details">

             <div class="artist-photo">
                <div class="photo"><img src="devi-sri-prasad.jpg" alt="Devi sri Prasad" style="width: 190px; height: 190px; border-radius: 150px;"></div>     
             </div>

             <div class="artist-name">
                <div >
                    <button class="play-button">
                        <i class="fa-solid fa-play" ></i>
                    </button>
                </div>
                <div >
                    <h1 class="name">
                        Devi Sri Prasad
                    </h1>
                </div>
                <div >
                    <button class="options" style="margin-top: 0px; margin-bottom: 0px;">
                        <p>...</p>
                    </button>
                </div>
             </div>
        </div>
    </body>
</html>